<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='wr-style.css') }}">
  <title>Witcher 3 Level Based Guide</title>
</head>
<body>
  <div id="qnotes-body">
    <div id="qnotes-overlay">
      <div id="qnotes-menus"></div>
      <div id="qnotes-data"></div>
    </div>
  </div>
  <div id="confirm-body">
    <div id="confirm-overlay">
      <div id="warning-crucial">Crucial Quests Tab Opened: </div>
      <div id="opened-crucial"></div>
      <div id="buttons-data">
        <button id="confirm-button">Confirm</button>
        <button id="cancel-button">Cancel</button>
      </div>
    </div>
  </div>
  <div id="w3g-body">
    <div id="quest-query">
      <input type="text" value="Search quest here....">
      <input type="number" title="Insert Level here..." min="0" value="1">
    </div>
    <div id="page-section">
      <div id="quests-section">
        <div id="qsect-menu"></div>
        <div id="qsect-body"></div>
      </div>
      <div id="info-section">
        <div id="scavenger-section">
          <div id="scavenger-menu" >Scavenger Quests</div>
          <div id="scavenger-body" ></div>
        </div>
        <div id="highrisk-section">
          <div id="highrisk-menu" >Overlevel - High vulnerable</div>
          <div id="highrisk-body" ></div>
        </div>
        <div id="lowrisk-section">
          <div id="lowrisk-menu" >Overlevel - Low vulnerable</div>
          <div id="lowrisk-body" ></div>
        </div>
        <div id="overlvl-section">
          <div id="overlvl-menu" >Overleveled</div>
          <div id="overlvl-body" ></div>
        </div>
        <div id="minisec-section">
          <div id="minisec-menu" ></div>
          <div id="minisec-body" ></div>
        </div>
      </div>
    </div>
    <div>
      <h2>Test Section:</h2>
      <button type="button" onclick="alert('Hello world!')">Click Me!</button>
      <div>
        <div id="color-test">Async Test - Click Here:</div>
        <div id="color-body"></div>
      </div>
      <p> Check venv path: <a href="{{ url_for('testingenv.check_envpath') }}" target="_blank">Click Me!</a></p>
      <p> Check working path: <a href="{{ url_for('testingenv.check_apppath') }}" target="_blank">Click Me!</a></p>
      <p> Check if debug mode is enabled: <a href="{{ url_for('testingenv.check_debugmode') }}" target="_blank">Test Error!</a></p>
      <p> Check database path: <a href="{{ url_for('testingenv.check_configdb') }}" target="_blank">DB check result!</a></p>
    </div>
  </div>
  <script src="{{ url_for('static', filename='w3gdefs.js') }}"></script>
  <script src="{{ url_for('static', filename='w3gretrieve.js') }}"></script>
  <script src="{{ url_for('static', filename='w3gasynctest.js') }}"></script>
</body>
</html>
