<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='wr-style.css') }}">
    <title>Witcher 3 Level Based Guide</title>
  </head>
  <body>
    <div id="w3g-overlay" ></div>
    <div id="w3g-body">
      <div id="quest-query">
        <div id="quest-query-right">
          <input type="text" value="Search quest here....">
          <span id="level-query">
            <input type="text" title="Insert Level here..." value="1">
            <span id="input-arrowup" ></span>
            <span id="input-arrowdown" ></span>
          </span>
        </div>
        <div id="quest-query-left">
          <span class="left-buttons">
            <span class="select button">Select</span>
            <span class="mark button hide-button">Mark</span>
          </span>
          <span class="right-buttons">
            <span class="finished button">Finished</span>
            <span class="cancel button hide-button">Cancel</span>
          </span>
        </div>
      </div>
      <div id="page-section">
        <div id="quests-section"></div>
        <div id="info-section"></div>
      </div>
    </div>
    {% for jsf in jsfs %}
      <script src="{{ url_for('static', filename=jsf + '.js') }}"></script>
    {% endfor %}
  </body>
</html>
