$heading-px: 21px;
$backg-color: #EEEEEE;
$icon-height: 1.5em;
$vl-width: .2em;
$main-format: 3fr .5fr .5fr 1fr 1fr;
$multi-format: .2fr 1fr;
$overlay-backg-color: #f8f8ff;

/* Closed Definition */

.hide-button,
.cont-status-close,
.quest-cont-closed,
.notes-closed {
  display: none;
}

body {
  margin: 0px;
  background-color: $backg-color;
}

body.in-query * {
  cursor: wait !important;
}

/* Menu Section (Top Bar) */

#quest-query {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 8px 0;
  z-index: 1;
  background-color: $backg-color;
}

#quest-query-left > * {
  margin: 0 1vw;
}

.button:hover {
  cursor: pointer;
  font-weight: 600;
}

#level-query {
  width: 10vw;
  position: relative;
}

#level-query input {
  width: 100px;
  border: 3px solid black;
  border-radius: 5px;
}

#input-arrowup {
  position: absolute;
  left: 112px;
  top: 0px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #181818;
}

#input-arrowdown {
  position: absolute;
  left: 112px;
  bottom: 0px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid #181818;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

#input-arrowup:hover,
#input-arrowdown:hover {
  cursor: pointer;
}

#input-arrowup:hover {
  border-bottom-color: yellow;
}

#input-arrowdown:hover {
  border-top-color: yellow;
}

#ave-side-cont {
  margin-left: 20px;
}

/* Content Body */

#w3g-body {
  padding: 0 8px 8px 8px;
}

#page-section {
  display: grid;
  grid-template-columns: 1fr 3em 1fr;
  grid-template-rows: auto;
}

#vl-cont {
  padding: 1.5em 0;
  margin: 0 auto;
}

#vl-cont > div {
  width: $vl-width;
  height: 100%;
  background-color: black;
}

#lsect-menu-cont > span:first-child {
  padding-right: 2em;
}

// Left Section - Secondary Quest
.region-sect {
  padding: 1em 0;
  border-bottom: thin solid black;
}

.region-sect:first-child {
  margin-top: 2em;
  border-top: thin solid black;
}

.region-menu {
  display: grid;
  grid-template-columns: 10em 2em;

  .region-name {
    width: max-content;
  }
}

// Right Section - Crucial Quests
.rsect-crucial-sect {
  border-top: thin solid black;
  margin-bottom: 1.5em;
}

.rsect-cruc-mainhead {
  font-size: 1.5em;
  padding: 0.2em 0;
}

.cruc-cat-divider {
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  padding: 0 2em;
  width: calc(100% - 6.5em);
  margin: 0 auto 1.5em;
}

/* Quest Data */

.type-quest-cont {
  padding: 1em 0;
}

@mixin quest-data($mode, $type: quest) {
  display: grid;
  align-items: center;
  $grid-mode: if($mode == all, $main-format, $multi-format);
  
  @if $type == quest {
    grid-template-columns: $heading-px $grid-mode;

    .quest-data {
      word-wrap: break-word;
    }
  } @else {
    grid-template-columns: $grid-mode;
    font-weight: 600;
    
    @if $mode == all {
      text-align: center;
    }
  }
}

.quest-header.all-cont {
  @include quest-data($mode: all, $type: header)
}

.menu-cont.all-cont {
  @include quest-data($mode: all, $type: quest)
}

.quest-header.multi-cont {
  @include quest-data($mode: multi, $type: header)
}

.menu-cont.multi-cont {
  @include quest-data($mode: multi, $type: quest)
}

.notes-data {
  display: flex;
  justify-content: center;

  > span {
    margin: 0 .25em;
  }

  span:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.lvl,
.cut {
  text-align: center;
}

.qlvl-none,
.qnotes-none {
  font-size: small;
  font-style: italic;
}

/* Notes Icons */

.gentd-icon {
  height: 1.5em;

  &:hover {
    transform: scale(1.5);
  }
}

.normal-quest {
  &, a:link, a:visited {
    color: rgba(72, 61, 139);
  }

  &.qlvl-none, &.qnotes-none {
    color: rgba(72, 61, 139, 0.5);
  }
}

.cutoff-quest {
  &, a:link, a:visited {
    color: rgba(255, 0, 0);
  }

  &.qlvl-none, &.qnotes-none {
    color: rgba(255, 0, 0, 0.5);
  }
}

.hidden-marker {
  visibility: hidden;
}

#w3g-body.select-on .quest-marker,
#w3g-overlay.select-on .quest-marker {
  visibility: revert !important;
}

.quest-container .marker {
  display: inline-block;
  max-width: $heading-px;
}

.affected-note,
.multi-note {
  padding-left: 1.5em;
}

.quest-header {
  padding-left: $heading-px;
}

/* Multi Marker */
.mult-reg.info-marker {
  box-sizing: border-box;
  display: inline-block;
  width: 21px;
  text-align: center;
}

.mult-reg.info-marker:hover {
  cursor: pointer;
  font-weight: 600;
}

/* overlay */

.show-overlay-backg {
  filter: blur(5px);
}

.show-overlay-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay-notes {
  width: 75vw;
  height: 75vh;
  background-color: $overlay-backg-color;
  padding: 1em;
  display: grid;
  grid-template-rows: 3em 1fr;

  @mixin note-format($type) {
    display: grid;
  
    @if $type == qwt {
      grid-template-columns: .3fr .5fr .2fr 1fr; // qwent players
    } @else {
      grid-template-columns: .3fr .7fr 1fr; // enemies and multi notes
    }
  }

  %note-border {
    border: thin solid black;
  }

  %note-body-format { // header(e.g. player name, location, note) | items
    display: grid;
    grid-auto-rows: 2em 1fr;
  }

  $note-body-padding: .5em;

  %note-padding {
    padding: 0 $note-body-padding $note-body-padding;
  }

  %note-entry {
    display: grid;
    grid-template-rows: 1fr 3em;
    gap: .5em;

    .note-markdown {
      position: relative;
    }

    .note-markdown-content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      padding: 0 1em;
    }
  }

  %open-note {
    height: 100%;
    display: grid;
    grid-template-rows: 1.5em 1fr;

    .note-entry-cont {
      @extend %note-entry
    }
  }

  * {
    box-sizing: border-box;
  }

  h2 {
    margin: 0;

    > *:first-child {
      margin-right: 3em;
    }
  }

  .note-menu {
    > * {
     margin-right: 1em;
    }
  }

  .cont-type-info.overlay-container {
    height: 100%;
    @extend %note-body-format;

    #qnotes-data {

      > .qwt-note,
      > .enm-note {
        height: 100%;
        @extend %note-body-format;
        @extend %note-border;
        @extend %note-padding;
      }

      > .qt-note {
        height: 100%;
        @extend %note-border;
        @extend %note-padding;

        &.qt-note-muti {
          @extend %note-body-format;
        }

        div:not(.qt-note-reghead, .qt-note-subreg) {
          height: 100%;
        }

        .note-entry-cont-single {
          padding-top: $note-body-padding;
          @extend %note-entry;
        }
      }

      .quest-cont-head,
      .qt-note-reghead {
        align-self: center;
        font-weight: 600;
      }
    }

    .qwtheader, .qwtitem {
      @include note-format($type: qwt);
    }

    .enmheader, .enmitem {
      @include note-format($type: emm);
    }

    .qt-note-reghead, .qt-note-regitem {
      @include note-format($type: reg)
    }
  }

  .qt-note-subreg.open-note {
    @extend %open-note;
  }

  .note-entries.open-note {
    @extend %open-note;
  }
}

%column-centered {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin column-centered($type) {
  display: flex;
  flex-direction: column;
  align-items: center;

  @if $type == overlay {
    justify-content: space-between;
  } @else {
    justify-content: center;
  }
}

.overlay-confirm {
  $confirm-height: 30vh;

  width: 30vw;
  height: $confirm-height;
  background-color: $overlay-backg-color;
  @include column-centered($type: overlay);
  padding: 1em;

  h2 {
    margin: 0;
  }

  .quest-cont-body {
    @include column-centered($type: body);
    height: calc($confirm-height * .61);
    align-self: stretch;
    border: thin solid black;
  }

  .overlay-container {
    margin: 0.5em 0;
    font-size: 1.3em;
  }

  .quest-cont-foot button {
    margin: 0 0.5em;
  }
}

#overlay-finished {
  width: 35vw;
  height: 80vh;
  background-color: $overlay-backg-color;
  display: grid;
  grid-template-rows: 3em 1fr;
  padding: 0.5em;

  .quest-cont-head {
    align-self: center;

    .left-buttons {
      margin-right: 1.5em;
    }
  }

  .overlay-container {
    height: 100%;
    display: grid;
    grid-template-rows: 2em 1fr;

    #finished-overlay-menu {
      align-self: center;
    }

    #recently-finished {
      margin-right: 1em;
    }
  
    #finished-body {
      border: thin solid black;
      position: relative;
    }

    #finished-body-cont {
      padding: .5em;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: scroll;

      .cont-type-sub:not(.cont-status-close) {
        margin: 1em 0;
      }

      .cont-type-head {
        font-size: 1.3em;
      }
    }
  }
}

/* .cutoff-quest span, .cutoff-quest span a:link, .cutoff-quest span a:visited {
  color: red;
} */
