body {
  margin: 0px;
  background-color: #EEEEEE;
}

#qnotes-body, #confirm-body {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#qnotes-overlay {
  width: 75vw;
  height: 75vh;
  background-color: #f8f8ff;
}

#confirm-overlay {
  width: 30vw;
  height: 30vh;
  background-color: #f8f8ff;
}

#w3g-body {
  padding: 8px;
}

#quest-query {
  margin-bottom: .3vw;
}

#quest-query input[type="text"] {
  width: 20vw;
  border: 3px solid black;
  border-radius: 5px;
}

#quest-query input[type="number"] {
  width: 5vw;
  border: 3px solid black;
  border-radius: 5px;
}

#page-section {
  height: 100%; /*Later: adaptive, height value changes, might need to use a function e.g. javascript */
}

#quests-section {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 10px 20px;
}

#quests-section::after {
  content: '';
  position: absolute;
  right: -.5px;
  top: 5%;
  height: 90%;
  border-left: 1px solid red;
  z-index: 1;
}

#info-section {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 10px 20px;
}

#info-section::after {
  content: '';
  position: absolute;
  left: -.5px;
  top: 5%;
  height: 90%;
  border-left: 1px solid blue;
  z-index: 1;
}

#page-section::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: .3vw;
}

#scavenger-section,
#highrisk-section,
#lowrisk-section,
#overlvl-section,
#minisec-section {
  display: none;
}

.quest-data, .affitem-name {
  display: inline-block;
  width: 35%;
  word-wrap: break-word;
}

.quest-level, .affitem-lvl {
  display: inline-block;
  width: 10%;
}

.notes-data span {
  border-right-style: solid;
}

.notes-data span:last-child {
  border-right-style: none;
}

.notes-data {
  display: inline-block;
  width: 17%;
}

.notes-data:hover {
  font-weight: bold;
  cursor: pointer;
}

.normal-quest,
.normal-quest a:link,
.normal-quest a:visited {
  color: #483D8B;
}

.cutoff-quest,
.cutoff-quest a:link,
.cutoff-quest a:visited {
  color: red;
}

/* .cutoff-quest span, .cutoff-quest span a:link, .cutoff-quest span a:visited {
  color: red;
} */
