body {
  margin: 0px;
  background-color: #EEEEEE;
}

#qnotes-body, #confirm-body {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#qdone-data {
  display: none;
}

#qnotes-overlay {
  width: 75vw;
  height: 75vh;
  background-color: #f8f8ff;
}

#confirm-overlay {
  width: 30vw;
  height: 30vh;
  background-color: #f8f8ff;
}

#w3g-body {
  padding: 8px;
}

#quest-query {
  position: relative;
  margin-bottom: .3vw;
}

#quest-query input {
  width: 20vw;
  border: 3px solid black;
  border-radius: 5px;
}

#level-query {
  width: 10vw;
  position: relative;
}

#level-query input {
  width: 100px;
  border: 3px solid black;
  border-radius: 5px;
}

#input-arrowup {
  position: absolute;
  left: 112px;
  top: 0px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #181818;
}

#input-arrowdown {
  position: absolute;
  left: 112px;
  bottom: 0px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid #181818;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

#input-arrowup:hover,
#input-arrowdown:hover {
  cursor: pointer;
}

#input-arrowup:hover {
  border-bottom-color: yellow;
}

#input-arrowdown:hover {
  border-top-color: yellow;
}

#page-section {
  height: 100%; /*Later: adaptive, height value changes, might need to use a function e.g. javascript */
}

#quests-section {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 10px 20px;
}

#quests-section::after {
  content: '';
  position: absolute;
  right: -.5px;
  top: 5%;
  height: 90%;
  border-left: 1px solid red;
  z-index: 1;
}

#info-section {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 10px 20px;
}

#info-section::after {
  content: '';
  position: absolute;
  left: -.5px;
  top: 5%;
  height: 90%;
  border-left: 1px solid blue;
  z-index: 1;
}

#page-section::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: .3vw;
}

.info-subsect, .info-body {
  display: none;
}

.quest-data,
.headers-questname {
  display: inline-block;
  width: 35%;
  word-wrap: break-word;
}

.quest-level,
.headers-questlvl,
.qlvl-none {
  display: inline-block;
  width: 10%;
}

.notes-data span span {
  border-right-style: solid;
}

.notes-data span span:last-child {
  border-right-style: none;
}

.multi-notes {
  display: none;
}

.notes-data,
.headers-affected,
.headers-notes,
.headers-regquest,
.qnotes-none {
  display: inline-block;
  width: 17%;
}

.qlvl-none,
.qnotes-none {
  font-size: small;
  font-style: italic;
}

.notes-data span:hover {
  font-weight: bold;
  cursor: pointer;
}

.normal-quest,
.normal-quest a:link,
.normal-quest a:visited {
  color: rgba(72, 61, 139);
}

.cutoff-quest,
.cutoff-quest a:link,
.cutoff-quest a:visited {
  color: rgba(255, 0, 0);
}

.normal-quest.qlvl-none,
.normal-quest.qnotes-none {
  color: rgba(72, 61, 139, 0.5);
}

.cutoff-quest.qlvl-none,
.cutoff-quest.qnotes-none {
  color: rgba(255, 0, 0, 0.5);
}

body.in-query * {
  cursor: wait !important;
}

#quest-query .select-mode {
  position: absolute;
  right: 19vw;
  display: inline-block;
  width: 7vw;
}

#quest-query .cancel-mode {
  position: absolute;
  right: 11vw;
  display: none;
  width: 7vw;
}

#done-display {
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 10vw;
}

#done-display:hover,
.select-mode:hover,
.cancel-mode:hover {
  font-weight: bold;
  cursor: pointer;
}

.quest-marker {
  visibility: hidden;
}

#w3g-body.select-on .quest-marker,
#done-data-cont.select-on .quest-marker {
  visibility: revert !important;
}

#done-data-cont {
  width: 70vw;
  height: 65vh;
  overflow: auto;
}

#qdone-bttns {
  position: relative;
}

#qdone-bttns .select-mode {
  position: absolute;
  right: 7vw;
  display: inline-block;
  width: 7vw;
}

#qdone-bttns .cancel-mode {
  position: absolute;
  right: 0px;
  display: none;
  width: 7vw;
}

/* .cutoff-quest span, .cutoff-quest span a:link, .cutoff-quest span a:visited {
  color: red;
} */
