:root {
  --heading-px: 21px;
  --backg-color: #EEEEEE;
  --icon-height: 1.5em;
}

body {
  margin: 0px;
  background-color: var(--backg-color);
}

#w3g-body {
  padding: 0 8px 8px;
}

#quest-query {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 8px 0;
  z-index: 1;
  background-color: var(--backg-color);
}

#quest-query-left > * {
  margin: 0 1vw;
}

.hide-button {
  display: none;
}

.button:hover {
  cursor: pointer;
  font-weight: 600;
}

#level-query {
  width: 10vw;
  position: relative;
}

#level-query input {
  width: 100px;
  border: 3px solid black;
  border-radius: 5px;
}

#input-arrowup {
  position: absolute;
  left: 112px;
  top: 0px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #181818;
}

#input-arrowdown {
  position: absolute;
  left: 112px;
  bottom: 0px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid #181818;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

#input-arrowup:hover,
#input-arrowdown:hover {
  cursor: pointer;
}

#input-arrowup:hover {
  border-bottom-color: yellow;
}

#input-arrowdown:hover {
  border-top-color: yellow;
}

#ave-side-cont {
  margin-left: 20px;
}

#page-section {
  height: 100%; /*Later: adaptive, height value changes, might need to use a function e.g. javascript */
}

#quests-section {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 10px 20px;
}

#quests-section::after {
  content: '';
  position: absolute;
  right: -.5px;
  top: 5%;
  height: 90%;
  border-left: 1px solid red;
  z-index: 1;
}

#info-section {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 10px 20px;
}

#info-section::after {
  content: '';
  position: absolute;
  left: -.5px;
  top: 5%;
  height: 90%;
  border-left: 1px solid blue;
  z-index: 1;
}

#page-section::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: .3vw;
}

.info-subsect, .info-body {
  display: none;
}

.quest-data,
.headers-questname {
  display: inline-block;
  width: 35%;
  word-wrap: break-word;
}

.quest-level,
.headers-questlvl,
.qlvl-none {
  display: inline-block;
  width: 10%;
}

.notes-data span span {
  border-right-style: solid;
}

.notes-data span span:last-child {
  border-right-style: none;
}

.multi-notes {
  display: none;
}

.notes-data,
.headers-affected,
.headers-notes,
.headers-regquest,
.qnotes-none {
  display: inline-block;
  width: 17%;
}

.qlvl-none,
.qnotes-none {
  font-size: small;
  font-style: italic;
}

.notes-data span:hover {
  font-weight: bold;
  cursor: pointer;
}

.normal-quest,
.normal-quest a:link,
.normal-quest a:visited {
  color: rgba(72, 61, 139);
}

.cutoff-quest,
.cutoff-quest a:link,
.cutoff-quest a:visited {
  color: rgba(255, 0, 0);
}

.normal-quest.qlvl-none,
.normal-quest.qnotes-none {
  color: rgba(72, 61, 139, 0.5);
}

.cutoff-quest.qlvl-none,
.cutoff-quest.qnotes-none {
  color: rgba(255, 0, 0, 0.5);
}

body.in-query * {
  cursor: wait !important;
}

#done-display {
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 10vw;
}

#done-display:hover,
.select-mode:hover,
.cancel-mode:hover {
  font-weight: bold;
  cursor: pointer;
}

.hidden-marker {
  visibility: hidden;
}

#w3g-body.select-on .quest-marker,
#w3g-overlay.select-on .quest-marker {
  visibility: revert !important;
}

.cont-status-close {
  display: none;
}

.quest-container .marker {
  display: inline-block;
  max-width: var(--heading-px);
}

.affected-note {
  padding-left: 1.5em;
}

.quest-header {
  padding-left: var(--heading-px);
}

/* Multi Marker */
.mult-reg.info-marker {
  box-sizing: border-box;
  display: inline-block;
  width: 21px;
  text-align: center;
}

.mult-reg.info-marker:hover {
  cursor: pointer;
  font-weight: 600;
}

/* overlay */

.show-overlay-backg {
  filter: blur(5px);
}

.show-overlay-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay-notes {
  width: 75vw;
  height: 75vh;
  background-color: #f8f8ff;
}

.overlay-confirm {
  width: 30vw;
  height: 30vh;
  background-color: #f8f8ff;
}

#overlay-finished {
  width: 35vw;
  height: 80vh;
  background-color: #f8f8ff;
}

.notes-closed {
  display: none;
}

/* Notes Icons */

.gentd-icon {
  height: 1.5em;
}

/* .cutoff-quest span, .cutoff-quest span a:link, .cutoff-quest span a:visited {
  color: red;
} */
